# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/
.venv.bak/
.venv-old/

# VS Code / IDE settings
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/

# dotenv files
.env
.env.*

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# OS install setup backups or temp
*.bak
*.tmp
